html,body {
    box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

/* Set full height: http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
html {
    /* body will set it's height based on its parent, which is html */
    height: 100%;

    /* set full width as well */
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}
body {
    /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
    min-height: 100%;

    /* needed to prevent unwanted scroll-bars */
    margin: 0;
    padding: 0;

    overflow: hidden;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.logo-text {
    color: #ffffff;
    text-align: center;
}

.page {
    height: 100%;
    overflow: hidden;
    background: white;
}

.page.with-bg {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    z-index: 0;
}

.page.with-color-bg{
    background-color: #f9f9f9;
    z-index: 0;
}

#login .login-form {
    padding: 20px 50px 50px 50px;
    height: 310px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    overflow: visible;
    border-bottom: 1px solid #e8e8e8;
}

#login .login-form input {
    background: white;
    line-height: 30px;
    text-align: center;
}

#login .login-form .login-btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-shadow: none;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
}

#login .external-login-form {
    padding: 50px 50px 20px 50px;
}

#login .external-login-form button {
    text-shadow: none;
    color: #ffffff;
    border-radius: 10px;
    font-weight: normal;
}

#login .external-login-form .facebook-login-btn {
    background: #5D85C1;
}

#login .external-login-form .twitter-login-btn {
    background: #00B7FF;
}

#login .login-footer {
    text-align: center;
    color: #777777;
}

#login .login-footer .create-account-link {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
}

#login .logo-img {
    width: 100%;
    border-bottom: 1px solid #34246B;
    box-shadow: 0 1px 5px;
    margin-bottom: -5px;
}

#login .split-btn-wrapper {
    text-align: center;
    background: none;
    position: relative;
}

#login .split-btn-wrapper .split-btn {
    font-size: 40px;
    margin: 20px 0;
}

#select-spot .spot-list > li > a {
    background: #ffffff;
}

#select-spot .spot-list > li > a > img {
    width: 60px;
    margin: 10px;
}

#select-spot .add-new-spot-btn {
    text-align: center;
}

#select-spot .add-new-spot-btn > a {
    font-size: 40px;
    background: rgba(255, 255, 255, 0.6);
}

.page-footer {
    overflow: hidden;
    z-index: 30000;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.page-footer a {
    background-color: #333333 !important;
}

.page-footer a.ui-btn-active {
    background-color: #999999 !important;
}

.page-header {
    height: 50px;
    width: 100%;

    background-color: #333!important;
    opacity: 1;
}

#navPanel {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.page-header .right-btn-group {
    margin-top: 3px;
}

.page-header .right-btn-group > a {
    margin-left: 10px;
}

.page-header .head-bar-btn {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
}

.page-header .head-bar-btn:after {
    margin-left: -18px;
    margin-top: -18px;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
}

.ui-content {
    overflow: scroll;
}

.card .img-card {
    width: auto;
    height: auto;
    max-width: 15em !important;
    max-height: 6em !important;
}

option {
    font-size: 10px;
}

.ui-panel-wrapper {
    height: 100%;
}

.ui-content {
    height: calc(100% - 90px);
}

.page-footer .ui-btn-icon-bottom:after {
    background-color: rgba(0,0,0,0) ;
}

/* CSS Loading bar start */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dzidr-mask {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: white;
    padding-left: calc(50% - 60px);
    padding-top: calc(50% + 10px);
}
#personal-list .personal-list,
#horse-list .horse-list{
    height: calc(100% - 34px);
    overflow: scroll;
}

/* CSS Loading bar end */

#rating .spot-info-img{
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #666;
}

#rating .spot-info{
    background: #eee;
    padding: 10px 20px 0px 20px;
    margin-top: 10px;
    border: 2px solid #ddd;
}

#rating .spot-info-detail{
}

#rating .spot-info-rate{
    float: right;
    font-size: 50px;
    font-weight: bold;
    color: #3498DB;
    padding-left: 10px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 61px;
    border: 1px solid #ddd;
    background: #fff;
}

#rating .spot-info .ui-block-a{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px 10px 5px 5px;
    width: 70px;
}

#rating .spot-info .ui-block-b{
    padding-left: 20px;
    background: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    width: calc(100% - 80px);
}

#rating .spot-rating{
    background: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid #ddd;
}

#rating .spot-note{
    background: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid #ddd;
}

#rating .save-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #3498DB;
    border: 2px solid #ddd;
    border-left: 1px solid #ddd;
    text-shadow: none;
    box-shadow: none;
}

#rating .cancel-btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid #ddd;
    border-right: 1px solid #ddd;
    text-shadow: none;
    box-shadow: none;
}

#compare-list td.best{
    color: white;
    background: #1ABC9C;
}

#compare-list td.best-sub{
    color: white;
    background: #A3E4D7;
}

#compare-list td.better{
    color: white;
    background: #3498DB;
}

#compare-list td.better-sub{
    color: white;
    background: #AED6F1;
}

#compare-list td.good{
    color: white;
    background: #C0392B;
}

#compare-list td.good-sub{
    color: white;
    background: #E6B0AA;
}

#table-column-toggle{
    text-shadow: none;
}